main textarea {
    overflow: auto;
    width: 100%;
}

main h2{
    text-align: left;
    border-bottom: 1px solid black;
    margin: 0 0 1em 0;


}
main section {
    border-radius: 5px;
    background-color: #dddddd;
    margin: 2em;
    padding: 1em;

}

.counter {
  float: right;
}